
body{
    font-family: sans-serif;
    color: #fff;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.loginbox{
    width: 320px;
    height: 620px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 30px;
}

.loginbox input[type="text"], input[type="password"]{
    
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

/*Button*/
/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: center;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
    padding: 25px 60px 25px 120px;
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}



/* Button 2 */
.btn-2 {
    background: #2ecc71;
    color: #fff;
}

.btn-2:hover {
    background: #27ae60;
}

.btn-2:active {
    background: #27ae60;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}


/* Icons */

.icon-cart:before {
    content: "\f07a";
}

.icon-heart:before {
    content: "\f55a";
}

.icon-info:before {
    content: "\f05a";
}

.icon-send:before {
    content: "\f1d8";
}